<!DOCTYPE html>
<html>
<head>
	<title>My title</title>
</head>
<body>
	<%- partial('partial/header', {title: 'blue'}) %>
	This is the layout.ejs file
	<br>
	<%- body %>
	<br>
	This is the layout.ejs file
</body>
</html>