
Page : <%- page.title %>
<br>
Page : <%- page.content %>
<h1>This is a post.</h1>

<% if(page.author == "Daniel") { %>
	Daniel is the author, he is the best.
<% } else { %>
	This author sucks.
<% } %> 